# packages in environment at /opt/miniconda3/envs/py310:
#
# Name                    Version                   Build  Channel
# packages in environment at /opt/miniconda3/envs/py310:
pandas  
plotly
streamlit
pyjstat
requests
json